* {
    box-sizing: border-box;
}

:root {
    --bg: #FFF8E7;

    --main: #375E97;
    --main-hover: #2C4A78;

    --secondary: #FB6542;
    --secondary-hover: #E04A2A;

    --tertiary: #FFBB00;
    --tertiary-hover: #E6A800;

    --text: #111827;
}


a {
    padding: 0 0;
}
