* {
    box-sizing: border-box;
}

/* html {
    font-family: lato-regular, monospace;
}

body {
    margin: 0;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em;
    font-weight: 400;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

p {
    margin: 0 0 1em;
}

a {
    color: #ffffff;

    &:hover {
        text-decoration: none;
    }
}

.bold {
    font-family: lato-bold, monospace;
}

img {
    width: 100%;
    object-fit: contain;
    align-self: start;
} */
