/* flex helpers */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* list item helpers */

.clean-list {
    padding: 0;
    list-style-type: none;
}

ul {
    margin: 0;
    height: 100%;
    align-items: center;
}

i {
    vertical-align: middle;
}
