.main-layout {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 940px) minmax(
            20px,
            1fr
        );
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background: var(--bg);
    color: var(--text);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif;

    border: 12px solid var(--tertiary);
    margin: 1em;
    padding-bottom: 2em;
    border-radius: 20px;
}
