.main-layout {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 940px) minmax(
            20px,
            1fr
        );
}

body {
    background: var(--bg);
    color: var(--text);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif;
}
