.canvas-container {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 300px;
    max-width: 480px;
}

canvas {
    display: flex;
    justify-self: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    height: auto;
    display: block;
}

.canvas-grid-container {
    display: flex;
    justify-self: center;
    align-items: center;
}
