.canvas-container {
    /* grid-column: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

canvas {
    aspect-ratio: 1 / 1;
    max-width: 100%; /* never exceed screen width */
    height: auto; /* keep aspect ratio */
    display: block; /* remove inline gaps */
    margin: 0 auto; /* center horizontally */
}
