.meme-text-input {
    width: 60%;
    align-self: center;
    border-radius: 8px;
    text-align: center;

    border-color: var(--main);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.color-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.color-section > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.download-container {
    display: inline;
}

a.btn {
    padding: 0.4em 1em;
    text-decoration: none;
}

.stroke-color::after {
    background-color: yellow;
    content: '';
}

.text-color {
    appearance: none;
}
