.main-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.main-header h1 {
    margin: 0;
    color: var(--secondary); 
    background-color: var(--tertiary); 
    border: 4px solid var(--main);
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

nav {
    display: flex;
    gap: 1rem;
}

nav > * {
    margin: 1em 3em;
}

.nav-container {
    padding: 1rem;
    margin: 1em 3em;
    justify-content: start;
}

.gallery-button,
.editor-button {
    background: var(--main);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.gallery-button:hover,
.editor-button:hover {
    background: var(--main-hover);
}
